@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
  exclude: scrollbar;
}

@theme {
  --color-dark-500: oklch(0.3171 0 0);
}

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
    background-color: #323232;
  }

  ::-webkit-scrollbar-thumb {
    background: #CACACD;
  }

  /* Option 6: Noto Serif JP (Modern sans-serif) */
  body {
    font-family: 'Noto Serif JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    background-color: #171717;
  }
}